/* =============================================================

	Custom Styles

 * ============================================================= */

.DFWP {
	background-color: #9B59B6;
}

.course-banner{
    padding-top: 2em;
    padding-bottom: 2em;
    color: #ECF0F1;
}

a, a:hover, a:focus {
    color: #ECF0F1;
}

.courses {
	background-color: #95A5A6;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #ECF0F1;
}

.PP {
    background-color: #3498DB;
}

.AHAC {
    background-color: #2ECC71;
}

.CMS {
    background-color: #E74C3C;
}

.aps{
    background-color: #34495E;
}

.ai {
    background-color: #F1C40F;
}

.three-d {
    background-color: #1ABC9C;
}

.my-footer{
    color: #ECF0F1;
    background-color: #000;
}
