/* =============================================================

	Custom Styles

 * ============================================================= */

.course-banner{
    padding-top: 2em;
    padding-bottom: 2em;
    color: #ECF0F1;
}

.nav-wrap{
    text-align: center;
}

a, a:hover, a:focus {
    color: #ECF0F1;
}

.logo{
    color: #ECF0F1;
    font-size: 3em;
}

h1 {
    font-size: 3em;
}

h1.index-nav{
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    padding-top: 0;
}

h2 {
    font-size: 2em;
}


.my-footer{
    color: #fff;
    background-color: #000;
}

a.dark-link{
    color: #CFD9DB;
}

.subnav{
    padding-top: 0em;
    padding-bottom:1.5em;
}

/* ============================

    Designing for Wordpress

*  ============================ */

.DFWP {
	background-color: #9B59B6;
}

.dfwp-copy a:link, .dfwp-copy a{
    color: #3498DB;
}

.dfwp-copy a:hover, .dfwp-copy a:focus{
    color: #3498DB;
}

/* ============================

    Portfolio Prep

*  ============================ */
.PP {
    background-color: #3498DB;
}

.pp-copy a:link, .pp-copy a{
    color: #3498DB;
}

.pp-copy a:hover, .pp-copy a:focus{
    color: #3498DB;
}

/* ============================

    Advanced HTML & CSS

*  ============================ */

.AHAC {
    background-color: #2ECC71;
}

.ahac-copy a:link, .ahac-copy a{
    color: #3498DB;
}

.ahac-copy a:hover, .ahac-copy a:focus{
    color: #3498DB;
}

/* ============================

    Content Management Systems

*  ============================ */

.CMS {
    background-color: #E74C3C;
}

.cms-copy a:link, .cms-copy a{
    color: #3498DB;
}

.cms-copy a:hover, .cms-copy a:focus{
    color: #3498DB;
}

/* ============================

    Photoshop

*  ============================ */

.APS{
    background-color: #34495E;
}

.aps-copy a:link, .aps-copy a{
    color: #3498DB;
}

.aps-copy a:hover, .aps-copy a:focus{
    color: #3498DB;
}

/* ============================

    Illustrator

*  ============================ */

.AI {
    background-color: #F1C40F;
}

.ai-copy a:link, .ai-copy a{
    color: #3498DB;
}

.ai-copy a:hover, .ai-copy a:focus{
    color: #3498DB;
}

/* ============================

    Intro to 3D

*  ============================ */

.three-d {
    background-color: #1ABC9C;
}

.three-d-copy a:link, .three-d-copy a{
    color: #3498DB;
}

.three-d-copy a:hover, .three-d-copy a:focus{
    color: #3498DB;
}

/* ============================

    Go to top btn

*  ============================ */


.go-top{
    position:fixed;
    bottom:2em;
    right:2em;
    text-decoration:none;
    color:white;
    background-color:rgba(0,0,0,0.3);
    font-size:12px;
    padding-top:0.25em;
    padding-right: 0.5em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    display:none;
}

.go-top:hover{
    background-color:rgba(0,0,0,0.6);
}