/* =============================================================

	Custom Styles

 * ============================================================= */

.DFWP {
	background-color: #9B59B6;
}

.course-banner{
    padding-top: 2em;
    padding-bottom: 2em;
    color: #ECF0F1;
}

a, a:hover, a:focus {
    color: #ECF0F1;
}

.logo{
    color: #ECF0F1;
}

h1 {
    font-size: 3em;
}

.courses {
	background-color: #95A5A6;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #34495E;
}

h1.index-nav{
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    padding-top: 0;
}

.PP {
    background-color: #3498DB;
}

.pp-copy a:link, .pp-copy a{
    color: #3498DB;
}

.pp-copy a:hover, .pp-copy a:focus{
    color: #3498DB;
}

.AHAC {
    background-color: #2ECC71;
}

.CMS {
    background-color: #E74C3C;
}

.aps{
    background-color: #34495E;
}

.ai {
    background-color: #F1C40F;
}

.three-d {
    background-color: #1ABC9C;
}

.my-footer{
    color: #fff;
    background-color: #000;
}

a.dark-link{
    color: #CFD9DB;
}

.subnav{
    padding-top: 0em;
    padding-bottom:1.5em;
}